<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/fragments/header :: headerscripts">&nbsp;</div>
    <title>Sensor List Form</title>
    <script  type="text/javascript" src="../../../resources/js/project.js"
             th:src="@{/resources/js/project.js}"/>

</head>
<body>

<h2>Events Calendar</h2>

<button id="demobutton">Example  - Go to 24.12.2016</button>

<div id="calendar"></div>
</body>
</html>